* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: rgb(69, 67, 67);
}

.card {
    width: 90%;
    max-width: 470px;
    background: linear-gradient(135deg, #00feba, #5b548a);
    color: white;
    margin: 80px auto 0;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
}

.search {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search input {
    border: 0;
    outline: 0;
    padding: 10px 25px;
    height: 60px;
    border-radius: 30px;
    flex: 1;
    margin-right: 16px;
    font-size: 18px;
}

.search button {
    border: 0;
    outline: 0;
    background: #ebfffc;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
}

.search button img {
    width: 16px;
}

.weather-icon {
    width: 170px;
    margin-top: 30px;
}

.weather h1 {
    font-size: 80px;
    font-weight: 500;
}

.weather h2 {
    font-size: 45px;
    font-weight: 400;
    margin-top: -10px;
}

.details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 50px;
}

.col {
    display: flex;
    align-items: center;
    text-align: left;
}

.col img {
    width: 40px;
    margin-right: 10px;
}

.humidity, .wind {
    font-size: 28px;
    margin-top: -6px;
}

/* Mobile View (max-width: 480px) */
@media only screen and (max-width: 480px) {
    .card {
        padding: 20px 15px;
        margin: 40px auto 0;
    }

    .search input {
        padding: 6px 15px;
        height: 45px;
        font-size: 14px;
    }

    .search button {
        width: 45px;
        height: 45px;
    }

    .weather-icon {
        width: 120px;
        margin-top: 15px;
    }

    .weather h1 {
        font-size: 50px;
    }

    .weather h2 {
        font-size: 28px;
    }

    .details {
        margin-top: 30px;
        padding: 0 10px;
        flex-direction: column;
    }

    .col {
        margin-bottom: 15px;
        width: 100%;
        justify-content: center;
    }

    .col img {
        width: 30px;
    }

    .humidity, .wind {
        font-size: 20px;
    }
}
